extends layout

block content
    h1= title
    p Welcome to your Image Listings

    // Wrapper
    #wrapper

        // IMAGE INFO
        #imageInfo
            h2 Image Info
            p
                strong Colorstyle:
                |  <span id='imageInfoColorstyle'></span>
                br
                strong Alt:
                |  <span id='imageInfoAlt'></span>
                br
                strong ShotNumber:
                |  <span id='imageInfoShotNumber'></span>
                br
                strong FilePath:
                |  <span id='imageInfoFilepath'></span>
        // /IMAGE INFO

        // IMAGE LIST
        h2 Image List
        #imageList
            table
                thead
                    th Colorstyle
                    th Filepath
                    th Delete?
                tbody
        // /IMAGE LIST
        
        // ADD IMAGE
        h2 Add Image
        #addImage
            fieldset
                input#inputImageName(type='text', placeholder='Imagename')
                input#inputImageColorstyle(type='text', placeholder='Colorstyle')
                br
                input#inputImageAlt(type='text', placeholder='Alt')
                input#inputImageShotNumber(type='text', placeholder='ShotNumber')
                br
                input#inputImageFilepath(type='text', placeholder='Filepath')
                br
                input#inputImageNotes(type='text', placeholder='Notes')
                input#inputImageTag(type='text', placeholder='Tags')
                br
                button#btnAddImage Add Image
        // /ADD IMAGE

    // /WRAPPER
